{% extends 'main/MASTER.html' %}
{% block content %}

<div class="container">
    <header class="d-flex justify-content-center">
        <h1>Welcome to Tree Money</h1>
    <main>
        <section>
            <form action="/getTicker" method="POST" class="d-flex justify-content-center">
                <div class="input-group col-6">
                    <input type="text" id="search_ticker" class="form-control" placeholder="Search: TICKER">
                    <span class="input-group-btn">
                        <button type="submit" id="search_submit" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </form>
        </section>

        <div id="graph">

        </div>


        <div class="stats">
            


        </div>
    </main>
</div>
{% endblock content %}