{% extends 'main/__base__.html' %}
{% block content %}

<div class="container">
    <header class="d-flex justify-content-center">
        <h1>Welcome to Tree Money</h1>
    </header>
    <main>
        <section>
            <form action="/get_nav" method="POST" class="d-flex justify-content-center">
                {% csrf_token %}
                <div class="input-group col-6">
                    <input type="text" id="search_ticker" name="ticker" class="form-control"
                        placeholder="Search: TICKER">
                    <span class="input-group-btn">
                        <button type="submit" id="search_submit" class="btn btn-primary">Search</button>
                    </span>
                </div>
            </form>
        </section>
        <nav id="navigation_bar" class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center"></nav>
        <div id="graph"></div>
        <div id="stats"></div>
    </main>
</div>
{% endblock content %}