
<canvas id="myChart" width="400" height="400" style="padding: 5px"></canvas>
<input type="hidden" value="{{data}}">
<script type="text/javascript">
        $( document ).ready(function() {
            var ctx = document.getElementById('myChart').getContext('2d');
            var stockdata = {{data}}
            var time = {{time}}
            function lineColor(list){
            if(stockdata[0]>stockdata[stockdata.length - 1]){
                return 'rgba(242, 38, 19, 1)'
            }else{ 
                return 'rgba(0, 177, 106, 1)'
            }
            }
            var line_color = lineColor()
            function convertTime(list){
                for(var i = 0; i < list.length; i++){
                    list[i] = new Date(list[i] * 1000)
                }
                return list
            };
            function addOpenLine(list){
                    let newList = []
                for(var i = 0; i < list.length; i++){
                    
                    newList.push(list[0])
                }
                return newList
            };
            var stocktime = convertTime(time);
            var openPrice = addOpenLine(stockdata);
var data = {
    // Labels should be Date objects
    labels: stocktime,
    datasets: [{
        fill: false,
        label: 'Page Views',
        data: stockdata,
        borderColor: line_color,
        lineTension: 0,
    },
    {
        fill: false,
        label: '',
        data: openPrice,
        borderColor: 'rgba(191, 191, 191, .7)',
        lineTension: 0,
    }]
}
var options = {
    type: 'line',
    data: data,
    options: {
        legend: false,
        fill: false,
        responsive: true,
        scales: {
            xAxes: [{
                type: 'time',
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: "Date",
                }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: false,
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: "Page Views",
                }
            }]
        }
    }
}
var chart = new Chart(ctx, options);
});
</script>


